/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/fira-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	font-family: 'Fira Sans', sans-serif;
}


body {
	background-color: aliceblue;
}

#page-header{
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 2%;
}

.header-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 2.5% 5% 2.5% 5%;

	background-color: lavenderblush;
	border: 1px solid black;
}

#form-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto auto auto;

	gap: 12px;
}

.input-prompt {
	grid-column-start: 1;
	grid-column-end: 1;
} 

#rooms {
	resize: vertical;
	min-height: 100px;
}

.centering-div {
	display: flex;
	justify-content: center;
}