/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/fira-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	font-family: 'Fira Sans', sans-serif;
}


body {
	background-color: aliceblue;
}

li {
	margin-bottom: 5px;
}

#page-header{
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 1.5%;
	padding: 1.5% 3% 1.5% 3%;

	background-color: rgb(180, 233, 180);
	border: 1px solid black;

	max-width: 600px;
}

.header-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#wrapper{
	max-width: 600px;

	margin-left: auto;
	margin-right: auto;

	padding: 1.5% 3% 1.5% 3%;

	background-color: lavender;
	border: 1px solid black;
}

.form-grid {
	display: grid;
	grid-template-columns: auto auto;

	gap: 12px;
	padding-bottom: 24px;
}

.input-prompt {
	grid-column-start: 1;
	grid-column-end: 1;

	margin-top: auto;
	margin-bottom: auto;
} 

#rooms {
	resize: vertical;
	min-height: 100px;
}

#rounds_min_max {
	display: flex;
	justify-content: space-between;
}

.centering-div {
	display: flex;
	justify-content: center;
}