<html lang="en">

<head>
	<meta charset="utf-8">
	<title>UCSD Scoresheets | Create</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script>
		$(document).ready(() => {
			$("#create-form").submit((e) => {
				e.preventDefault();

				$.getJSON("/create/submit", $("#create-form").serialize(), (data) => {
					if (data.error) {
						alert(data.error);
					}
					else if (data.success) {
						alert("Scoresheet generation request successful. If you do not receive an email at " + data.success + " within the next hour, please contact me");
						window.location.href = "/";
					}
				});

			})

		});
	</script>
</head>

<body>
	{% include 'header.html' %}
	<div id="wrapper">

		<h1>
			Create Scoresheets
		</h1>

		<p>
			This form allows you to create sets of UCSD Scoresheets. <b>You cannot create scoresheets unless I approve
				your email address</b> - due to Google's API limits, I don't plan to open this functionality to the
			general public.
		</p>

		<form id="create-form">
			<div class="form-grid">
				<label class="input-prompt" for="tourney_name">Tournament name:</label>
				<input type="text" name="tourney_name" id="tourney_name" placeholder="Tournament name" required>

				<label class="input-prompt" for="email">Email:</label>
				<input type="email" name="email" id="email" placeholder="Email" required>

				<label class="input-prompt" for="bonus_tracking">Track bonus parts individually?</label>
				<input type="checkbox" name="bonus_tracking" id="bonus_tracking">

				<label class="input-prompt" for="rooms">List of rooms (max 35):</label>
				<textarea name="rooms" id="rooms" placeholder="Rooms (one per line)" required></textarea>
			</div>

			<div class="centering-div">
				<input type="submit" id="submit" value="Submit">
			</div>

		</form>

	</div>
</body>

</html>